

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>智慧健康后台登录</title>
    <link href="$staticServer.get('themes/css/login.css')" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="login">
    <div id="login_header">
        <h1 class="login_logo">
            <div style="float: left;color:black;font-weight:bold; height:30px;line-height:30px;padding:10px 0px;margin-left:20px; font-size: 30px;">小马快检后台管理系统</div>
        </h1>
        <div class="login_headerContent">
            <div style="width:100%; text-align center;color:black;font-weight:bold; height:30px;line-height:30px;padding:10px 0px;margin-left:20px; font-size: 18px;">小马快检后台管理系统</div>
        </div>
    </div>
    <div id="login_content">
        <div class="loginForm">
            <form action="/login.htm" method="post">
                <p>
                    <label>用户名：</label>
                    <input type="text" name="username" size="20" class="login_input" />
                </p>
                <p>
                    <label>密码：</label>
                    <input type="password" name="password" size="20" class="login_input" />
                </p>
                <div class="login_bar">
                    <input class="sub" type="submit" value=" " />
                </div>
                <input type="hidden" name="url" value="$!url"/>
            </form>
        </div>
        <div class="login_banner"><img src="$staticServer.get('themes/default/images/login_banner.jpg')" /></div>
        <div class="login_main">

        </div>
    </div>
    <div id="login_footer">
        浙B2-201330116浙ICP备 12044344号-1
    </div>
</div>
</body>
</html>