
<div class="pageContent">

    <form method="post" action="/permission/update.htm" class="pageForm" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <input type="hidden" name="id" value="$!permission.id">
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>权限code：</label>
                <input type="text" name="code" size="50" class="required" value="$!permission.code"/>
                <span class="info"> @Security code 或默认生成</span>
            </div>
            <div class="unit">
                <label>名称：</label>
                <input type="text" name="name" size="50" class="required" value="$!permission.name" />
            </div>
            <div class="unit">
                <label>是否展示：</label>
                <input type="checkbox" name="show" #if($!permission.show)checked#end/>
            </div>

            <div class="unit">
                <label>域名：</label>
                <input type="text" name="domain"  size="50"  value="$!permission.domain" />
                <span class="info">应用所在域名</span>
            </div>
            #if($!permission.type == 3 || $!permission.type == 4)
            <div class="divider"></div>
            <div class="unit">
                <label>URL：</label>
                <input type="text" name="url"  size="50"  value="$!permission.url" class="required"/>
            </div>
            #end
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>
