<form id="pagerForm" method="GET" action="/lookup/brand.htm">
    <input type="hidden" name="pageNum" value="$result.page" />
    <input type="hidden" name="numPerPage" value="$result.pageSize" />
    <input type="hidden" name="name" value="$!{request.getParameter('name')}" />
</form>
<div class="pageHeader">
    <form rel="pagerForm" method="GET" action="/lookup/brand.htm" onsubmit="return dwzSearch(this, 'dialog');">
        <input type="hidden" name="numPerPage" value="$result.pageSize" />
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>品牌名称:</label>
                    <input class="textInput" name="name" value="$!{request.getParameter('name')}" type="text">
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
                    <li><div class="button"><div class="buttonContent"><button type="button" multLookup="item" warn="请选择类目">确认</button></div></div></li>
                    <li><div class="button"><div class="buttonContent"><button type="button" onclick="javascript:$.bringBack({brandId:'', brandName:''})" >清除</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <table class="table" layoutH="118" targetType="dialog" width="100%">
        <thead>
            <tr>
                <th width="30"></th>
                <th width="30">id</th>
                <th width="200">品牌名称</th>
                <th width="200">品牌LOGO</th>
                <th width="200">品牌宣传图</th>
            </tr>
        </thead>
        <tbody>
            #foreach($item in $result.result)
            <tr ondblclick="javascript:$.bringBack({brandId:'$item.id', brandName:'$item.name'})">
                <td><input type="radio" name="item" value="{brandId:'$item.id', brandName:'$item.name'}"/></td>
                <td>$!item.id</td>
                <td>$!item.name</td>
                <td>#if("$!item.logo" != "")<img src="${imgServer}/$!item.logo@40w">#end</td>
                <td>#if("$!item.propagandaPicture" != "")<img src="${imgServer}/$!item.propagandaPicture@40w">#end </td>
            </tr>
            #end
        </tbody>
    </table>

    #DWZPagination($result.totalItems $result.pageSize $result.page false)
</div>

